<!DOCTYPE html>
<html th:replace="~{layout/layout::layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DogTalk - portal for dog owners and behaviorists</title>
</head>
<body>
<div th:fragment="content" class="container">
    <script th:src="@{/js/ToggleDisplay.js}"></script>


    <!--                  PERSONAL INFO PANEL-->
    <div id="personalDisplay" class="container-fluid">
        <div class="d-flex flex-row align-items-end shadow">
            <img th:if="${behaviorist.getPhotoId() == null}" th:src="@{/images/user.svg}" alt="profile picture"
                 width="120px">
            <img th:if="${behaviorist.getPhotoId() != null}" th:src="@{'../image/'+${behaviorist.getPhotoId()}}"
                 alt="profile picture" width="120px">
            <h1 class="pb-2 mx-2" th:text="${behaviorist.getFullName()}"></h1>
        </div>
    </div>


    <!--                  CONTACTS DISPLAY-->
    <div id="contactsDisplay" class="container-fluid">
        <div class="settings-header d-flex flex-row mt-3">
            <h4>Contacts: </h4>
            <div class="container-fluid text-end">
                <button class="btn btn-outline-primary btn-sm"
                        onclick="toggleDisplay('contactsForm', 'contactsDisplay')">
                    EDIT CONTACTS
                </button>
            </div>
        </div>
        <div class="container-fluid">
            <p th:if="${behaviorist.getContacts().isEmpty()}">You don't have any contacts yet.</p>
        </div>
        <div th:if="${!behaviorist.getContacts().isEmpty()}" class="d-flex flex-row justify-content-evenly">
            <div class="container-fluid flex-row">
                <span class="school-city px-2" th:each="contact: ${behaviorist.getContacts()}"
                      th:text="${contact.contactType +': '+ contact.value}"></span>
            </div>
        </div>
    </div>

    <!--                  CONTACTS EDIT-->
    <div id="contactsForm" class="container-fluid" hidden>
        <div class="settings-header d-flex flex-row mt-3">
            <h4>Contacts: </h4>
            <div class="container-fluid text-end">
                <button class="btn btn-outline-primary btn-sm"
                        onclick="toggleDisplay('contactsDisplay', 'contactsForm')">
                    CLOSE
                </button>
            </div>
        </div>
        <div class="container-fluid">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Value</th>
                    <th scope="colgroup" colspan="2">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contact: ${behaviorist.getContacts()}">
                    <form th:object="${contact}" th:action="@{/user/behaviorist/contact}"
                          th:id="'editContact'+${contact.getContactId()}" th:method="PUT">
                        <td th:text="${contact.contactType.toString().toLowerCase()}"></td>
                        <td class="container-fluid">
                            <input type="text" name="value" th:value="${contact.value}">
                            <input type="hidden" name="contactType" th:value="${contact.contactType}">
                            <input type="hidden" name="contactId" th:value="${contact.getContactId()}">
                        </td>
                        <td class="width-min text-end">
                            <input class="btn btn-outline-success btn-sm" type="submit" value="Save">
                        </td>
                    </form>
                    <td class="width-min text-end">
                        <form th:object="${contact}" th:action="@{/user/behaviorist/contact}"
                              th:id="'editContact'+${contact.getContactId()}" th:method="DELETE">
                            <input type="hidden" name="value" th:value="${contact.value}">
                            <input type="hidden" name="contactType" th:value="${contact.contactType}">
                            <input type="hidden" name="contactId" th:value="${contact.getContactId()}">
                            <input class="btn btn-outline-danger btn-sm" type="submit" value="Delete">
                        </form>
                    </td>

                </tr>
                <tr>
                    <form th:object="${contact}" th:action="@{/user/behaviorist/contact}" th:method="POST">
                        <td>
                            <select name="contactType" class="custom-select">
                                <option selected value="EMAIL">email</option>
                                <option value="SITE">site</option>
                                <option value="PHONE">phone</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" name="value">
                        </td>
                        <td colspan="2" class="width-min text-end">
                            <input class="btn btn-outline-success btn-sm" type="submit" value="Add contact">
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!--                  SCHOOLS DISPLAY-->
    <div id="schoolsDisplay" class="container-fluid">
        <div class="settings-header d-flex flex-row mt-3">
            <h4>Working at: </h4>
            <div class="container-fluid text-end">
                <a class="btn btn-outline-primary btn-sm" th:href="@{/user/school}">
                    MANAGE SCHOOLS
                </a>
            </div>
        </div>
        <div class="container-fluid">
            <p class="mt-2" th:if="${behaviorist.getSchoolWithPrivilegesList().isEmpty()}">
                Currently, you don't have any schools associated with your profile. Create one or join an existing one
                to allow users to find your services.
            </p>

            <table th:if="${!behaviorist.getSchoolWithPrivilegesList().isEmpty()}" class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">School's name</th>
                    <th scope="colgroup" colspan="4">Your privileges</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="school: ${behaviorist.getSchoolWithPrivilegesList()}">
                    <td class="container-fluid text-break" th:text="${school.schoolName}">NAME</td>
                    <td th:class="'small width-min text-center ' + ( ${school.getPrivileges().contains(T(com.agatah.dogtalk.model.enums.PrivilegeType).MANAGE)}?
                      'link-danger' : 'link-light')">DELETE SCHOOL
                    </td>
                    <td th:class="'small width-min text-center ' + ( (${school.getPrivileges().contains(T(com.agatah.dogtalk.model.enums.PrivilegeType).MANAGE)}
                      or ${school.getPrivileges().contains(T(com.agatah.dogtalk.model.enums.PrivilegeType).MANAGE)})? 'link-success' : 'link-light')">
                        MANAGE MEMBERS
                    </td>
                    <td th:class="'small width-min text-center ' + ( (${school.getPrivileges().contains(T(com.agatah.dogtalk.model.enums.PrivilegeType).MANAGE)}
                      or ${school.getPrivileges().contains(T(com.agatah.dogtalk.model.enums.PrivilegeType).EDIT)})? 'link-primary' : 'link-light')">
                        EDIT PROFILE
                    </td>
                    <td th:class="'small width-min text-center ' + ( (${school.getPrivileges().contains(T(com.agatah.dogtalk.model.enums.PrivilegeType).MANAGE)}
                      or ${school.getPrivileges().contains(T(com.agatah.dogtalk.model.enums.PrivilegeType).RESPOND)})? 'link-info' : 'link-light')">
                        WRITE MESSAGES
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!--                  ABOUT DISPLAY-->
    <div id="aboutDisplay" class="container-fluid">
        <div class="settings-header d-flex flex-row mt-3">
            <h4>About: </h4>
            <div class="container-fluid text-end">
                <button class="btn btn-outline-primary btn-sm" onclick="toggleDisplay('aboutForm', 'aboutDisplay')">
                    EDIT ABOUT
                </button>
            </div>
        </div>
        <div class="container-fluid mt-2">
            <p th:if="${behaviorist.getAbout() == null || behaviorist.getAbout() == ''}">This section is currently
                empty.</p>
            <p class="word-wrap text-justify" th:text="${behaviorist.about}"></p>
        </div>
    </div>

    <!--                  ABOUT FORM-->
    <div id="aboutForm" class="container-fluid" hidden>
        <div class="settings-header d-flex flex-row mt-3">
            <h4>About: </h4>
            <div class="container-fluid text-end">
                <button class="btn btn-outline-primary btn-sm" onclick="document.getElementById('submitAbout').click()">
                    SAVE
                </button>
                <button class="btn btn-outline-danger btn-sm" onclick="toggleDisplay('aboutDisplay', 'aboutForm')">
                    CANCEL
                </button>
            </div>
        </div>
        <div class="container-fluid mt-2">
            <form th:object="${behaviorist}" id="aboutInfo" th:method="PUT" th:action="@{/user/behaviorist/about}">
                <div class="container-fluid">
                      <textarea class="form-control text-justify" rows="10" name="about" id="about"
                                th:field="${behaviorist.about}"
                                th:value="${behaviorist.about}"></textarea>
                </div>
                <input id="submitAbout" hidden class="btn btn-outline-primary" type="submit" value="Save">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            </form>
        </div>
    </div>


    <!--                  QUALIFICATIONS DISPLAY-->
    <div id="qualificationsDisplay" class="container-fluid">
        <div class="settings-header d-flex flex-row mt-3">
            <h4>Qualifications: </h4>
            <div class="container-fluid text-end">
                <button class="btn btn-outline-primary btn-sm"
                        onclick="toggleDisplay('qualificationsForm', 'qualificationsDisplay')">
                    EDIT QUALIFICATIONS
                </button>
            </div>
        </div>
        <div class="container-fluid mt-2">
            <p th:if="${behaviorist.getQualifications() == null || behaviorist.getQualifications() == ''}">This section
                is currently empty.</p>
            <p class="text-justify" th:text="${behaviorist.qualifications}"></p>
        </div>
    </div>

    <!--                  QUALIFICATIONS FORM-->
    <div id="qualificationsForm" class="container-fluid" hidden>
        <div class="settings-header d-flex flex-row mt-3">
            <h4>Qualifications: </h4>
            <div class="container-fluid text-end">
                <button class="btn btn-outline-primary btn-sm"
                        onclick="document.getElementById('submitQualifications').click()">
                    SAVE
                </button>
                <button class="btn btn-outline-danger btn-sm"
                        onclick="toggleDisplay('qualificationsDisplay', 'qualificationsForm')">
                    CANCEL
                </button>
            </div>
        </div>
        <div class="container-fluid mt-2">
            <form th:object="${behaviorist}" id="qualificationsInfo" th:method="PUT"
                  th:action="@{/user/behaviorist/qualifications}">
                <div class="container-fluid">
                      <textarea class="form-control text-justify" rows="10" name="qualifications"
                                id="qualifications"
                                th:field="${behaviorist.qualifications}"
                                th:value="${behaviorist.qualifications}"></textarea>
                </div>
                <input id="submitQualifications" hidden class="btn btn-outline-primary" type="submit" value="Save">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            </form>
        </div>
    </div>


</div>
</body>
</html>