<!DOCTYPE html>
<html th:replace="~{layout/layout::layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DogTalk - portal for dog owners and behaviorists</title>
</head>
<body>
<div th:fragment="content" class="container">


    <!--                        PASSWORD DISPLAY-->
    <div id="passwordDisplay" class="container-fluid">
        <div class="settings-header d-flex flex-row mt-3">
            <h4>Change your password: </h4>
            <div class="container-fluid text-end">
                <button class="btn btn-outline-primary btn-sm" type="button"
                        onclick="document.getElementById('savePasswordButton').click()">SAVE
                </button>
            </div>
        </div>
    </div>


    <!--                    PASSWORD FORM-->
    <div class="d-flex flex-column align-items-center mt-3">
        <form class="d-flex flex-column" th:action="@{/user/password}" th:object="${user}"
              th:method="PUT" id="passwordChange">
            <div class="text-end margin-label mt-3">
                <label class="label-width" for="password">New password: </label>
                <input type="password" name="password" id="password" th:field="*{password}">
            </div>
            <span class="text-danger text-center" th:if="${#fields.hasErrors('password')}"
                  th:errors="*{password}"></span>

            <div class="text-end margin-label">
                <label class="label-width" for="passwordRepeat">Repeat password: </label>
                <input type="password" name="passwordRepeat" id="passwordRepeat"
                       th:field="*{passwordRepeat}">
            </div>
            <span class="text-danger text-center" th:if="${#fields.hasErrors('passwordSame')}"
                  th:errors="*{passwordSame}"></span>

            <div class="text-center">
                <input id="savePasswordButton" class="btn btn-secondary mt-3" type="submit" hidden
                       value="Save">
            </div>
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        </form>
    </div>


</div>
</body>
</html>