<!DOCTYPE html>
<html th:replace="~{layout/layout::layout(~{::title}, ~{::content})}">
<head>
    <title>DogTalk - portal for dog owners and behaviorists</title>

</head>
<body>
<div th:fragment="content" class="container text-center">

    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img th:src="@{/images/dogs.svg}" alt="picture of dogs" width="600px">
        </div>
        <div class="col-lg-6">
            <h1 class="fs-1">Welcome to <em>DogTalk</em></h1>
            <h2>- portal for dog owners and behaviorists</h2>
            <br>
            <p class="fs-5 fw-light">
                Have a problem finding a common language with your pet? You're in the right place! Create an account on
                our website or log in and search for animal behavioral specialists in your city.
            </p>
            <p class="fs-5 fw-light">
                Are you a behaviorist? Create a profile of your school to broadcast your services on our website and let
                thousands of users find you!
            </p>
        </div>
    </div>
</div>
</body>
</html>