<!DOCTYPE html>
<html th:replace="~{layout/layout::layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DogTalk - portal for dog owners and behaviorists</title>
</head>
<body>

<div th:fragment="content" class="container text-center">

    <div class="d-flex justify-content-center">
        <div class="form-login mt-3">
            <h2>Enter your email and password:</h2>

            <form method="post" th:action="@{/login}" id="loginForm" class="mt-3">

                <div>
                    <div class="form-floating">
                        <input class="form-control" type="text" name="username" id="username" placeholder="name@example.com">
                        <label for="username">email </label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" type="password" name="password" id="password" placeholder="password">
                        <label for="password">password </label>
                    </div>

                    <span class="text-danger" th:if="${param.error != null}">Wrong email or password</span>
                </div>

                <input class="btn btn-secondary my-3" type="submit" value="Login">
            </form>
            <br>
            <a class="text-decoration-none" th:href="@{/register}">Or register a new account</a>

        </div>
    </div>

</div>
</body>
</html>