<!DOCTYPE html>
<html th:replace="~{layout/layout::layout(~{::title}, ~{::content})}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <title>DogTalk - portal for dog owners and behaviorists</title>

</head>
<body>

<div th:fragment="content" class="container text-center my-3">

    <!--  PAGE INFO-->
    <div class="d-flex flex-row align-items-center justify-content-center my-3" th:if="${schoolPage != null}">
      <div class="text-end mx-2" style="width: 50px;">
        <a class="btn btn-outline-primary btn-sm"
           th:if="${schoolPage.hasPrevious()} and ${location != null}"
           th:href="@{/search/school?city={city}&page={page}(city=${location.city}, page=${schoolPage.getNumber()-1})}">&lt;</a>
        <a class="btn btn-outline-primary btn-sm"
           th:if="${schoolPage.hasPrevious()} and ${location == null}"
           th:href="@{/search/school?page={page}(page=${schoolPage.getNumber()-1})}">&lt;</a>
      </div>
      <div class="d-flex flex-row align-items-center justify-content-center">
        <p class="text-center margin-block-auto"
           th:text="${schoolPage.getTotalElements() == 1}? ${schoolPage.getTotalElements()} + ' record found' : ${schoolPage.getTotalElements()} + ' records found'"></p>
        <div class="d-flex flex-row" th:if="${schoolPage.getTotalPages() > 0}">
          <p class="text-center margin-block-auto" th:text="', page ' + ${schoolPage.getNumber() + 1}"></p>
          <p class="text-center mx-1 margin-block-auto" th:text="' of ' + ${schoolPage.getTotalPages()}"></p>
        </div>
      </div>
      <div class="text-start mx-1" style="width: 50px;">
        <a class="btn btn-outline-primary btn-sm"
           th:if="${schoolPage.hasNext()} and ${location != null}"
           th:href="@{/search/school?city={city}&page={page}(city=${location.city}, page=${schoolPage.getNumber()+1})}">&gt;</a>
        <a class="btn btn-outline-primary btn-sm"
           th:if="${schoolPage.hasNext()} and ${location == null}"
           th:href="@{/search/school?page={page}(page=${schoolPage.getNumber()+1})}">&gt;</a>
      </div>
    </div>

    <!--  PAGE CONTENT-->
    <div class="container-fluid" th:if="${schoolPage != null}">
      <div class="list-group" th:each="school: ${schoolPage.getContent()}">
        <a class="list-group-item list-group-item-action text-start" th:href="@{/school/{id}(id=${school.id})}">
          <p class="text-break" th:text="${school.name}"></p>
          <div>
            <span class="school-city" th:each="location: ${school.locations}" th:text="${location.city}"></span>
          </div>
        </a>
      </div>
    </div>




<!--  Custom scripts-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script type="text/javascript">
    $(function () {
      $("#city").autocomplete({
        source: "/api/locations",
        minLength: 1,
      });
    });

  </script>
</div>

</body>
</html>